@import "../../style/index.scss";
.banner {
  height: 243px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include container;

  .counts {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 23px;

    .count {
      display: flex;
      align-items: flex-end;
      padding: 10px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(50px);

      @supports not (backdrop-filter: blur(52px)) {
        background: #292a2a;
      }

      &:nth-child(2) {
        margin: 0 10px;
      }
      .digits {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 100%;
        color: $white;
      }

      .name {
        font-family: "Staatliches";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 110%;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: $white;

        margin-left: 5px;
      }
    }
  }
}

@media (max-width: $mobile) {
  .banner {
    height: 270px;
    padding: 0 20px;
    .counts {
      margin-left: 0;
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .count {
        flex: 0 0 32%;
        &:nth-child(2) {
          margin: 0;
        }

        .digits {
          font-size: 16px;
        }
        .name {
          font-size: 10px;
        }
      }
    }
  }
}
