@import "../../style/index.scss";

.container {
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--fullHeight);
  position: fixed;
  z-index: 2;
  // background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.content {
  position: relative;
  padding: 60px;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 46.5895px 103.532px rgba(0, 0, 0, 0.45),
    0px 19.464px 43.253px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);

  @supports not (backdrop-filter: blur(10px)) {
    background: #292a2a;
  }

  @media (max-width: $mobile) {
    width: 100vw;
    height: var(--fullHeight);
  }
}

.title {
  margin: 30px 0 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 100%;
  text-align: center;
}

.desc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 170%;
  text-align: center;
  letter-spacing: -0.01em;
  opacity: 0.5;
}

.icon {
  max-width: 70%;
  margin: 0 auto;
  width: 148px;
  height: 111px;
  margin-bottom: 30px;
  position: relative;

  @media (max-width: $mobile) {
    margin-bottom: 0;
    width: 78px;
    height: 78px;
    max-width: none;
    animation: loaderMobile 1s linear infinite;
  }
}

.loader {
  margin-top: 30px;
  width: 100%;
}

.number {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 170%;
  text-align: center;
  letter-spacing: -0.01em;
  margin-bottom: 10px;
}

.line {
  background: rgba(#fff, 0.3);
  width: 100%;
  height: 5px;
  position: relative;

  span {
    position: absolute;
    height: 100%;
    width: 38%;
    background: #d06cff;
    transition: all 0.3 linear;
  }
}

@keyframes loaderMobile {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
