@import "../../../style/index";

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;

  @media (max-width: $mobile) {
    margin-bottom: 20px;
  }

  .title {
    font-family: "Staatliches";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0.15em;
    color: $white;

    @media (max-width: $mobile) {
      font-size: 20px;
      line-height: 110%;
    }
  }
}

.btn {
  max-width: 260px;

  @media (max-width: $mobile) {
    margin-top: 20px;
    max-width: 100%;
  }
}
