@import "../../style/index.scss";

.container {
  @include container();
  @include flexRow();
  height: 72px;

  @media (max-width: $mobile) {
    height: 56px;
    padding: 0 0 0 20px;
    z-index: 3000;
    position: relative;
  }
}

.links {
  display: flex;
  align-items: center;
}
