@import "../../style/index.scss";

.row {
  display: flex;
  justify-content: space-between;

  .title,
  .value,
  .whiteTitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 110%;
    text-align: right;

    @media (max-width: $mobile) {
      font-size: 12px;
      line-height: 100%;
    }
  }

  .title {
    color: #847a89;
  }

  .whiteTitle {
    color: $white;
  }

  .value {
    color: $white;
  }

  .opacity {
    opacity: 0.3;
  }
}

@media (max-width: $mobile) {
  .title,
  .value {
    font-size: 12px;
    line-height: 100%;
  }
}

.loader {
  display: flex;
}
