@import "../../style/index.scss";

.horisontal {
  display: flex;
  justify-content: space-around;
  width: 60%;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  margin: -10px -10px;
  .lastInGroup {
    margin-bottom: 16px;
  }
}

.customRadio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.customRadio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.customRadio + label::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на радио */
.customRadio:not(:disabled):not(:checked) + label:hover::before {
  border-color: #f9b3ff;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.customRadio:not(:disabled):active + label::before {
  background: #ffffff;
  box-shadow: 0px 0px 15px #d06cff, inset 0px 0px 10px #d06cff,
    inset 0px 0px 15px #d06cff;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.checked + label::before {
  background: #ffffff;
  box-shadow: 0px 0px 15px #d06cff, inset 0px 0px 10px #d06cff,
    inset 0px 0px 15px #d06cff;
  border: none;
  // border-color: #f9b3ff;
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.customRadio:disabled + label::before {
  background-color: #e9ecef;
}

/* стили для радиокнопки, находящейся в фокусе */
.customRadio:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.radio {
  display: flex;
  padding: 10px 0;
  label {
    margin-left: 10px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $white;
    white-space: nowrap;
  }
}
