@import "../../../style/index.scss";

.wrapCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
  margin: -5px;
  padding: 5px;

  .card {
    width: 100%;
    cursor: pointer;
  }
}

.four {
  .card,
  .addCard {
    .content {
      .header {
        font-size: 20px;
        display: flex;
        align-items: center;
        svg {
          margin-left: 5px;
        }
      }

      .link,
      .descriptions {
        font-size: 16px;
        line-height: 20px;
      }
    }
    .contentBottom {
      .price {
        font-size: 20px;
        span {
          font-size: 25px;
        }
      }
    }
  }
}

.five {
  .card,
  .addCard {
    cursor: pointer;
  }
}

.fourFiltering {
  .card,
  .addCard {
    cursor: pointer;
  }
}

.five,
.fourFiltering {
  .card {
    .logoDisabled {
      filter: grayscale(1);
    }

    .content {
      .header {
        font-size: 14px;
        display: flex;
        align-items: center;

        svg {
          margin-left: 5px;
        }
      }

      .link,
      .descriptions {
        font-size: 13px;
        line-height: 17px;
      }
    }
    .contentBottom {
      .price {
        font-size: 14px;
      }
    }
  }
}

.children {
  .disabled {
    opacity: 0.2;
    background-color: rgb(255, 255, 255);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    :hover {
      cursor: default;
    }
  }

  .card,
  .addCard {
    background: none;
    box-shadow: none;

    .content {
      background: rgba(255, 255, 255, 0.1);
      display: flex;
      flex-direction: column;
      padding: 10px;
      .header {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
        margin-bottom: 10px;
      }

      .descriptions {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: #847a89;
        margin-top: 10px;
      }

      svg {
        margin-left: 5px;
      }
    }

    .contentBottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      background: rgba(255, 255, 255, 0.1);
      padding: 10px;
      .price {
        color: #ffffff;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        color: #00e1c8;
        span {
          color: #ffffff;
        }
      }
    }
  }
}

.card:hover {
  box-shadow: none !important;
  background: none !important;
  z-index: 1 !important;
}
.disabled:hover {
  transform: none !important;
}

.count {
  position: absolute;
  padding: 4px 15px;
  background-color: $violet;
  left: 0;
  top: 0;
  font-family: "Staatliches";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 110%;
  /* or 15px */

  letter-spacing: 0.15em;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addCard {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .icon {
      padding: 15px;
      margin-top: 25px;

      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(18.6667px);

      @supports not (backdrop-filter: blur(52px)) {
        background: #292a2a;
      }

      @include cursorPointer();
    }
    .text {
      font-family: "Staatliches";
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 110%;
      /* identical to box height, or 33px */

      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.15em;

      color: #ffffff;
    }
  }
}

.sellerName {
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;

  .avatar {
    width: 28px;
    height: 28px;
    margin-right: 5px;
    flex: none;
  }
}

@media only screen and (max-width: 1024px) {
  .children {
    .card {
      .content {
        .header {
          font-size: 18px;
        }

        .link,
        .descriptions {
          font-size: 14px;
          line-height: 17px;
        }
      }
      .contentBottom {
        .price {
          font-size: 14px;
          span {
            font-size: 18px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .children {
    .card {
      .content {
        .header {
          font-size: 18px;
        }

        .link,
        .descriptions {
          font-size: 14px;
          line-height: 17px;
        }
      }
      .contentBottom {
        .price {
          font-size: 14px;
          span {
            font-size: 18px;
          }
        }
      }
    }
  }
}

.nameIcon {
  &:focus {
    outline: none;
  }
}

.ipowner {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;

  color: #ffffff;
}

.dropMenu {
  padding: 10px !important;
  border: none !important;
  border-radius: 0 !important;
  background: rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(52px) !important;

  @supports not (backdrop-filter: blur(52px)) {
    background: #292a2a !important;
  }
}

.card {
  .btn {
    width: 90px;
    padding: 10px;
    line-height: 1;
  }
}

.soldOutBtn {
  border: 2px solid #ff002e;
  font-family: "Staatliches";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 76%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ff002e;
  width: 90px;
  height: 32px;
}

@media (max-width: $mobile) {
  .card {
    .btn {
      width: 68px;
      height: 24px;
      font-size: 12px;
      line-height: 76%;
      padding: 0;
    }

    .priceWrap {
      display: flex;
      flex-direction: column;
      font-size: 8px;
      line-height: 120%;

      span {
        margin-top: 5px;
        font-size: 12px !important;
        line-height: 70%;
      }
    }
  }

  .ipownerMobile {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    .ipowner {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre;
      margin-left: 5px;
      opacity: 0.5;
    }

    .price {
      span {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 8px;
        line-height: 120%;
        color: #ffffff;
        opacity: 0.5;
        margin-left: 5px;
      }
    }
  }

  .free {
    font-weight: bold;
    font-size: 12px !important;
    line-height: 70%;
  }

  .children {
    .card {
      .content {
        .header {
          font-size: 12px;
          line-height: 14px;
          margin-bottom: 5px;
          height: 14px;

          span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre;
          }
        }

        .linkBtn {
          font-size: 12px;
          line-height: 120%;

          span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre;
          }

          svg {
            flex: none;
          }
        }

        .descriptions {
          font-size: 10px;
          line-height: 120%;
          margin-top: 5px;
        }
      }
    }
  }

  .soldOutBtn {
    font-size: 12px;
    line-height: 76%;
    width: 68px;
    height: 24px;
  }
}

.spiner {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 60px;

  @media (max-width: $mobile) {
    margin: 60px 0;
  }
}

.lineText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.logoWrapper {
  position: relative;
}

.card {
  transition: all 0.15s ease;

  &:hover {
    transform: translateY(-5px);
  }
}

.wrapBtnCollection {
  width: fit-content;
  max-width: 100%;
}

.loader {
  grid-column: 1 / -1;
  margin: auto;
}

.selectAvaBtn {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
}
