.double{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .input{
        flex: 0 0 50%;
    }
}

.third{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .input{
        flex: 0 0 33.333%;
    }
}