@import "../../style/index";

.isInvadil {
  .code {
    input {
      background: rgba($error, 0.2) !important;
      border-color: $error !important;
    }
  }

  .list {
    color: $error;
    .item {
      &::before {
        background-color: $error;
      }
    }
  }
}

.code {
  width: 100% !important;

  & > div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
  }

  input {
    background: rgba(255, 255, 255, 0.05) !important;
    font-family: "Montserrat" !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 15px !important;
    text-align: center !important;
    color: $white !important;
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid rgba($white, 0.2) !important;
    height: 36px !important;
    width: 100% !important;
    appearance: none !important;
    caret-color: $white !important;
  }
}

.labelWral {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.label {
  font-family: "Staatliches";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0.15em;
  color: $white;
}

.list {
  margin-top: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  color: $white;

  .item {
    position: relative;
    padding-left: 16px;

    &::before {
      content: "";
      position: absolute;
      top: 6px;
      left: 7px;
      width: 2px;
      height: 2px;
      background-color: $white;
      border-radius: 50%;
    }
  }
}
