.timer {
  font-family: "Staatliches";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.15em;

  .wrapperDate {
    display: flex;
    align-items: center;
  }

  .icon {
    margin-right: 10px;
  }
}
